form{
    display: grid;
    justify-content: center;
    .mainFormCodeDiv {
        width: 90vw;
        margin: 40px 0px;
        padding: 20px 10px 5px 10px;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid;
        border-radius: 10px;
        gap: 20px;
        justify-content: center;
        align-items: start;
        @media screen and (max-width: 768px) {
            
            padding: 20px 10px 25px 10px;
          }
    
        h2 {
            color: grey;
            @media screen and (max-width: 768px) {
                font-size: 18px;
              }
        }
    
        label {
            font-size: 18px;
            color: black;
        }
    
        .formField {
            height: 35px;
            outline: none;
            border: 1px solid gray;
            border-radius: 0.375rem;
            font-size: 12px;
            appearance: none;
            background-repeat: no-repeat;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    
        .selectFeild {
            cursor: pointer;
            padding: 6px 10px;
            option {
                padding: 8px;
                cursor: pointer;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 14px;
            
                &:hover {
                  background-color: gray;
                }
              }        
    
        }
        .defaultIcon{
            background-image: url('../../assest/emptyArrow.png');
            background-size: 12px;
            background-position: calc(100% - 12px) center;
          }
          
        .inputField {
            padding-left: 10px;
        }
    
        .formArea {
            display: grid;
            align-items: center;
    
        }
        .error {
            font-size: 12px;
            color: red;
            min-height: 20px;
        }
        .btnDiv{
            display: flex;
            align-items: center;
            @media screen and (max-width: 768px) {
            flex-direction: row-reverse;
              }
            gap: 20px;
            button {
                border: 1px solid black;
                border-radius: 20px;
                width: 100px;
                height: 30px;
                cursor: pointer;
            }
            .submitButton{
                background-color: aqua;
            }
            .cancelButton{
                color: aliceblue;
                background-color: rgb(235, 62, 62);
            }
        }
    
    }
}


.mainGetCodeDiv {
    width: 50%;
    margin: 0px 50px;
    padding: 30px;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    gap: 10px;
    border: 1px solid black;
    @media screen and (max-width: 768px) {
        margin: 0px 10px;
        padding: 20px;
        width: 80vw;
    
          }
          
    // span{
    //     color: rgb(73, 73, 237);
    // }
}